.footer {
    width: 100%;
    @include bg-img("/images/footer-bg3.jpg");
    @include devices("tablet") {
        padding-top: 50px;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding-block: 50px;
        @include devices("tablet") {
            justify-content: start;
            padding-block: 0px;
        }
        &--text {
            font-size: 15px;
            font-weight: 400;
            text-transform: none;
        }
        &--socialLinks {
            background-color: $whiteColor;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $mainColor;
            cursor: pointer;
            transition: 200ms ease-in-out;
            &:hover {
                transform: translateY(10px);
            }
        }
        &--list {
            font-size: 15px;
            text-transform: capitalize;
            li {
                margin-bottom: 10px;
                transition: 200ms ease-in;
                color: $blackColor;
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 15px;
                .list--icon {
                    color: $mainColor;
                }
                &:hover {
                    color: $mainColor;
                    transform: translateX(10px);
                }
            }
        }
    }
    &__copyRight {
        padding: 30px 0px;
        background-color: transparent;
        border-top: 2px solid $whiteColor;
        text-align: center;
    }
}
