.header {
    width: 100%;
    z-index: 999;
    padding-block: 30px;
    transition: padding 300ms ease-in-out;
    background-color: $whiteColor;
    position: sticky;
    top: 0;
    overflow-x: hidden;

    &__logo {
        width: 120px;
        cursor: pointer;
        img {
            width: 100%;
            object-fit: cover;
            -webkit-user-drag: none;
        }
    }
    .navWrapper {
        @include devices("tablet") {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: fixed;
            top: -100vh;
            right: 0;
            bottom: 0;
            z-index: 1;
            width: 300px;
            height: 100vh !important;
            padding: 100px 30px;
            transition: top 700ms ease-in;
            transition-delay: 300ms;
            overflow: hidden;
            &::before {
                content: "";
                position: fixed;
                top: 0;
                right: -100vw;
                bottom: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background-color: black;
                opacity: 0.5;
                transition: all 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
            }
            &::after {
                content: "";
                position: fixed;
                top: 0;
                right: -100vw;
                bottom: 0;
                width: 300px;
                height: 100%;
                z-index: -1;
                background-color: white;
                transition: all 500ms linear;
                transition-delay: 550ms;
            }
        }
        &.open {
            top: 0;
            &::before,
            &::after {
                right: 0;
            }
        }
    }
    &__nav {
        @for $i from 1 through length($delayValues) {
            // Get the delay value for the current item
            $animationDelay: nth($delayValues, $i);

            // Generate the class selector for each item
            $itemClass: ".header__nav--item:nth-child(#{$i})";

            // Create the animation styles for each item
            #{$itemClass} {
                @include prefixes(
                    animation,
                    fadeInUpLinks $animationDuration ease-in-out $animationDelay,
                    $prefixes-list
                );
                @include fadeInUp(fadeInUpLinks);
                &.defaultActive {
                    color: $mainColor;
                    font-weight: 600;
                }

                font-weight: 500;
                text-transform: capitalize;
                transition: 200ms ease-in-out;

                &:hover {
                    color: $mainColor;
                    transform: translateY(-4px) scale(0.9);
                }
            }
        }
        @include devices("tablet") {
            flex-direction: column;
            align-items: self-start;
            gap: 20px;
        }
    }

    &__icons {
        .socialIcons {
            color: $textColor;
            transition: 200ms ease-in-out;
            &:hover {
                color: $mainColor;
            }
        }
    }

    &__menu {
        cursor: pointer;
        transform: rotate(180deg);
        display: none;
        z-index: 10;
        @include devices("tablet") {
            display: block;
        }
    }
}
