@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;500;600;800;900&display=swap");
$mainHeaderColor: #1f2278;
$mainColor: #5559ce;
$bgColor: #f7f7ff;
$secondBgColor: #e6e7ff;
$textSiblingColor: #f2f2f2;
$textColor: #767676;
$bodyBgColor: #ffffff;
$whiteColor: #fff;
$blackColor: #000;

$main-font1: "Barlow", sans-serif;
$main-font2: "Poppins", sans-serif;
$main-font3: "Tajawal", sans-serif;

// Define the delay values for each item
$delayValues: 0.1s, 0.2s, 0.3s, 0.4s, 0.5s, 0.6s;
// Define the animation duration
$animationDuration: 0.3s;

$prefixes-list: (webkit, moz, o);
