
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&family=Poppins:wght@100;200;400;600&family=Tajawal:wght@400;700;900&display=swap');

$mainHeaderColor: #1F2278;
$mainTextColor : #5559CE;
$bgColor : #F7F7FF;
$secondBgColor : #E6E7FF;
$textSiblingColor : #444444;
$bodyBgColor : #FFFFFF;
$activeColor : #f17732;
$letterColor : #00BBB4;

$whiteColor: #fff;
$blackColor:#000;

$main-font1 : 'Montserrat', sans-serif;
$main-font2 : 'Poppins', sans-serif;
$main-font3 : 'Tajawal', sans-serif;



$prefixes-list: (webkit , moz , o);

