// main section
.hero {
    width: 92%;
    margin: auto;
    height: calc(100vh - 50px);
    position: relative;
    z-index: 1;
    border-radius: 30px;
    @include bg-img("../public/images/hero-bg5.jpg");
    @include devices("tablet") {
        height: calc(100vh - 125px);
        background-position: 10%;
    }

    &__img {
        img {
            width: 90%;
            margin: auto;
            @include devices("tablet") {
                display: none;
            }
            @include devices("mobile") {
                display: block;
                width: 65%;
            }
        }
    }

    &__info {
        flex: 1;
        &--title {
            color: $whiteColor;
            font-size: 55px;
            font-weight: 700;
            padding-right: 75px;
            .base {
                background: linear-gradient(to right, $mainColor, #753536);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            @include devices("tablet") {
                font-size: 27px;
                text-align: center;
                padding: 20px;
            }
        }

        &--desc {
            font-size: 20px;
            font-weight: 500;
            text-transform: capitalize;
            color: $secondBgColor;
            @include devices("tablet") {
                font-size: 16px;
                text-align: center;
            }
        }

        &--btn {
            background: linear-gradient(to right, $mainColor, #753536);
            padding: 15px 45px;
            border-radius: 15px;
            color: $secondBgColor;
            margin-top: 40px;
            transition: 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
            &:hover {
                transform: translateY(-5px) scale(0.9);
            }
            @include devices("tablet") {
                margin-inline: auto;
                margin-top: 30px;
            }
        }
    }
}
