.services {
    @include bg-img("/images/service-bg6.jpg");
    padding-block: 80px;
    &__item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-self: normal;
        border-radius: 10px;
        padding: 40px 20px;
        background: $whiteColor;
        transition: 200ms ease !important;
        &:hover {
            transform: scale(1.1) !important;
        }

        cursor: pointer;
        &--title {
            text-transform: capitalize;
            font-size: 20px;
            font-weight: 600;
        }
        &--desc {
            font-weight: normal;
            font-size: 15px;
            color: $textColor;
        }
        &--icon {
            width: 100px;
        }
    }
}
