@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: $main-font1;
    overflow-x: hidden;
    height: 2000px;
}

html {
    scroll-behavior: smooth;
}

html::selection {
    color: $secondBgColor;
    background: $mainHeaderColor;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    @include reSetting-a(15px, $mainHeaderColor);
}

p {
    font-size: 18px;
    word-spacing: 1.5px;
    text-transform: capitalize;
}

.test {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title {
    font-size: 20px;
    color: royalblue;
    text-align: center;
    text-transform: capitalize;
}
